body {
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}

.name {
	position: absolute;
	width: 100%;
	height: 100%;
	span {
		position: absolute;
		top: 40%;
		width:20%;
		font-family: $namefont;
		font-size: 100px;
		text-align: center;
		color: black;
		// @include animation-name(fade);
		// @include animation-duration(7s);
		// @include animation-iteration-count(1);
		// @include animation-timing-function(linear);

	}
}

.b {
	left: 5%;
	@include animation-name(rotates);
	@include animation-duration(3s);
	@include animation-iteration-count(infinite);
	@include animation-timing-function(linear);
	@include animation-direction(alternate);
}
.e {
	left: 25%;

	@include animation-name(rotatesright);
	@include animation-duration(3s);
	@include animation-iteration-count(infinite);
	@include animation-timing-function(linear);
	@include animation-direction(alternate);
}
.n {
	left: 45%;
	@include animation-name(rotates);
	@include animation-duration(3s);
	@include animation-iteration-count(infinite);
	@include animation-timing-function(linear);
	@include animation-direction(alternate);
}
.j {
	left: 65%;
	@include animation-name(rotatesright);
	@include animation-duration(3s);
	@include animation-iteration-count(infinite);
	@include animation-timing-function(linear);
	@include animation-direction(alternate);
}
.i {
	left: 85%;
	@include animation-name(rotates);
	@include animation-duration(3s);
	@include animation-iteration-count(infinite);
	@include animation-timing-function(linear);
	@include animation-direction(alternate);
}

