
h1 {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 5em;
	width: 100%;
	 position: fixed;
  top: 35%;
	color: #002E4C;
	text-align: center;
}